<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32886634692-cikti25n8b8cln0gdud6h2ov1v8o0gle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32886634692-cikti25n8b8cln0gdud6h2ov1v8o0gle</string>
	<key>API_KEY</key>
	<string>AIzaSyC6QSFUnbW6ErOjNxsfkwgzMwjGCKyA3TU</string>
	<key>GCM_SENDER_ID</key>
	<string>32886634692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dfa.flutterchatdemo</string>
	<key>PROJECT_ID</key>
	<string>flutterchatdemo0912</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatdemo0912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32886634692:ios:9643aba719949e22673191</string>
</dict>
</plist>